@import url(https://fonts.googleapis.com/css?family=PT+Serif|Raleway:400,700);

* {
    margin: 0;
    padding: 0;
}

#container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

#background {
    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

h1 {
    font-family: 'PT Serif', Arial, Helvetica, sans-serif;
    color: black;
}