html {
    background-color: $white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}

body {
    color: $white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
    display: block;
}

body,
button,
input,
select,
textarea {
    font-family: $font-family-parapraph;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-title;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $white;

    &:hover {
        color: $white;
    }
}

img {
    height: auto;
    max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: baseline;
}

small {
    font-size: 0.875em;
}

strong {
    font-weight: 700;
}
