// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Raleway:400,700');

// Fonts variables
$font-family-title: 'PT Serif', serif;
$font-family-parapraph: 'Raleway', sans-serif;
$font-size-large: "";
$font-size-primary-text: "16px";
$font-size-secondary-text: "13px";

// Colors variables
$yellow: #ffcc2f;
$blue: #001EB2;
$white: #FFFFFF;
$black: #000000;